<script>
import { onMounted } from '../zeno.js';
import { signal, computed } from '../signals.js';

export default {
    data() {
        return {
            title: 'About Page',
            form: {
                username: '',
                bio: 'Default bio'
            }
        };
    },
    mounted() {
        console.log("About Page Mounted!");
        this.timer = setInterval(() => {
            console.log("Tick...");
        }, 5000);
    },
    unmounted() {
        console.log("About Page Unmounted!");
        clearInterval(this.timer);
    }
}
</script>

<template>
    <div class="page">
        <h1>{{ title }}</h1>
        <p>Global Counter is still: {{ $store.state.counter }}</p>

        <div class="box">
            <h3>User Form (@model)</h3>
            <p>Username: {{ form.username }}</p>
            <p>Bio: {{ form.bio }}</p>

            <!-- Model Binding -->
            <input type="text" @model="form.username" placeholder="Username">
            <br>
            <textarea @model="form.bio"></textarea>
        </div>

        <a href="/">Back to Home</a>
    </div>
</template>
