<script>
export default {
    data() {
        return { title: 'Welcome to ZenoJS' };
    }
}
</script>

<template>
    <div style="font-family: sans-serif; padding: 20px;">
        <nav>
            <a href="/">Home</a>
        </nav>
        <router-view></router-view>
    </div>
</template>
